@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap);
body {
  font-family: "Nunito", sans-serif;
  background-color: #fafbfe;
}

.main-content p, .stats {
  color: #6d6d6d;
}

.side-nav {
  position: fixed;
  background-color: #313a46;
  width: 260px;
  height: 100vh;
  padding-top: 80px;
  transition: all 0.5s ease-in-out;
}

.side-nav li a {
  color: #9a9a9a;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 7px;
}

.side-nav li a i {
  margin-right: 9px;
}

.side-nav li a:hover {
  color: white;
}

.main-content {
  margin-left: 260px;
}

.btn-slide svg {
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 992px) {
  .side-nav {
    position: fixed;
    left: -260px;
    width: 260px;
  }
  .main-content {
    margin-left: 0px;
  }
}

.slide {
  left: 0px;
}

.example {
  display: grid;
  transition: all 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: linear-gradient(to bottom, white, black);
  transition: transform 1s;
  width: calc(50% - 2em);
}

